header {
    border: 1px solid goldenrod;
    display: flex;
}

header ul {
    display: inline-flex;
    list-style-type: none;
}

header li {
    justify-content: space-around;
    padding: 5px;
}

a span {
    color: grey;
}

a .disabled {
    color: purple;
}

a .active {
    color: yellow;
}

